.banner-bg {
  background-color: #504b4b;
}

.banner {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.banner-img {
  max-width: 100%;
}

.banner-texto h2 {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .banner {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .banner-img {
    display: none;
  }
  .banner-texto {
    text-align: center;
  }
}
